body {
    margin: 0;
    padding: 0;
}

label {
    display: none;
}

img {
    border: 0;
}

#titlewrapper {
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

#title {
    border-bottom: 1px solid #000;
    height: 129px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 0.2em 0px;
    text-align: center;
    width: 586px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#namewrapper {
    background: #fff url(/images/downtown.jpg) no-repeat center center;
    color: #333;
    float: left;
    width: 350px;
    text-align: center;
}

#name {
    display: inline;
    font-size: large;
    line-height: 129px;
    vertical-align: middle;
}

#bigwrapper {
    background: #fff none;
    color: #333;
}

#navwrapper {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 20%;
}

#bodywrapper {
    float: left;
    margin: 0px;
    width: 80%;
}

#navigation {
    border-right: 1px solid #000;
    margin: 1em;
}

#navigation h2 {
    font-size: 0.8em;
}

#body {
    margin: 1em;
}

#footer {
    border-top: 1px solid #000;
    clear: both;
    text-align: center;
}

blockquote {
    font-size: smaller;
    margin: 0.5em 2.5em 0.5em 2.5em;
}

a {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
}