<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body class="container">
    <div class="row">{{ partial "topbar.html" . }}</div>
    <div class="row">
      {{ partial "nav.html" . }}
      <div class="col-7">
        <main id="main">
        {{ block "main" . }}{{ end }}
        </main>
      </div>
    </div>
    <div class="row">{{ partial "footer.html" . }}</div>
  </body>
</html>
