<!doctype html>
<html lang="en">
  <head>
  {{ partial "head.html" . }}
  <body class="container">
    <div class="row">{{ partial "topbar.html" . }}</div>
    <div class="row">
      {{ partial "nav.html" . }}
      <div class="col-7">
        <main id="main">
          {{ block "main" . }}{{ end }}
          <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
        </main>
      </div>
    </div>
    <div class="row">{{ partial "footer.html" . }}</div>
  </body>
</html>
