<div id="footer" class="col-md-10 center-block">
<p>
    |
    <a tabindex="46" href="https://validator.w3.org/check/referer"><img height="31" width="88" src="/images/valid&#45;xhtml11.png" alt="Valid XHTML 1.1!" title="Valid XHTML 1.1!"/></a>
    |
    <a tabindex="47" href="https://jigsaw.w3.org/css&#45;validator/check/referer"><img height="31" width="88" src="/images/vcss.gif" alt="Valid CSS!" title="Valid CSS!"/></a>
    |
    <a tabindex="48" href="https://www.cast.org/bobby/" title="Bobby's Home Page"><img src="/images/approved_508.gif" alt="CAST: Bobby WorldWide Approved 508" title="CAST: Bobby WorldWide Approved 508" height="31" width="88"/></a> 
    |
    <a tabindex="49" href="https://www.cast.org/bobby/" title="Bobby's Home Page"><img src="/images/approved_aaa.gif" alt="Bobby WorldWide Approved AAA" title="Bobby WorldWide Approved AAA" height="31" width="88"/></a> 
    |
    <br/>
<div>
    <a tabindex="50" href="https://netstandard.com/" title="Hosting provided by: Net Standard, Inc."><img src="/images/PoweredByNSI.jpg" alt="Hosting provided by: Net Standard, Inc." title="Hosting provided by: Net Standard, Inc." height="94" width="380"/></a> 
    <!--a tabindex="51" href="http://UnRealServers.net" title="Domain Renewal provided by: UnReal Servers, LLC"><img src="http://unrealservers.net/logo.svg" alt="Domain Renewal provided by: UnReal Servers, LLC" title="Domain Renewal provided by: UnReal Servers, LLC" height="94" width="200" style="vertical-align: 9% ;"/> </a--> 
<!--
    |
    <a tabindex="51" href="https://lumensoftware.com/" title="Lumen Software, Inc."><img src="/images/LumenSoftwareRedLogo.gif" alt="Lumen Software, Inc." title="Lumen Software, Inc." height="73" width="243"/></a> 
-->
</div>
    <br/>
    Linux &reg; is a registered trademark of Linus Torvalds in the United States and other countries.
    <br/>
    Last modified on {{ .PublishDate | time.Format ":date_medium" }}
    <br/>
    Comments to the <a tabindex="49" href="mailto:webmaster@kclug.org" title="Contact the webmaster">webmaster</a>{{/* include '/var/www/kclug.org/audioarchive/blog/wp-content/themes/default/images/lnk.php' */}}
</p>
</div>
