<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ $css := "css/bootstrap.min.css" | relURL }}
  <link rel="stylesheet" href="{{ $css }}">
  {{ $css := "css/default.css" | relURL }}
  <link rel="stylesheet" href="{{ $css }}">
  <title>{{ .Title }}</title>
  <link rel="shortcut icon" href="https://kclug.org/favicon.ico"/>
  <link rel="icon" href="https://kclug.org/favicon.ico"/>
  <link rev="made" href="mailto:webmaster@kclug.org"/>
</head>
