<div id="nav-border" class="col-3">
  <nav id="nav" class="nav">
  <ul>
    {{ range .Site.Menus.main }}
    {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }}
    {{ $text := print $icon " " .Name | safeHTML }}
    <li><a class="nav-link" href="{{ .URL }}">{{ $text }}</a></li>
  {{ end }}</ul>
  </nav>
</div>
