<div id="topbar" class="col-6 offset-2 justify-content-center">
    <div id="titlewrapper" class="col-12 center-block">
        <div id="title">
        <img id="left" width="112" height="131" src="/images/Tux-KC.jpg" alt="[Tux with a branding iron]" title="[Tux with a branding iron]"/>
        <div id="namewrapper">
            <h1 id="name">Kansas City Linux User Group</h1>
        </div>
        <img id="right" width="112" height="131" src="/images/Tux-KC.jpg" alt="[Tux with a branding iron]" title="[Tux with a branding iron]"/>
        </div>
    </div>
</div>